<h1>Lunch Date</h1><br />
The best way to make real connections with real people.<br />

<h3>
<%= link_to 'View Posted Lunch Dates', lunch_dates_path, 'data-no-turbolink' => true %><br />
<% if user_signed_in? %>
  <%= link_to 'Create New Lunch Date', new_query_path %><br />
<% end %>

</h3>
