<div class="container">
<div class="large-12 columns">
<h1>Edit Lunch Date</h1>
</div>
<%= render 'form' %>

<%= link_to 'View Date', lunch_date_path %> |
<%= link_to 'Delete Date', @lunch_date, method: :delete, data: { confirm: 'Delete Date?'} %>


</div>
