/* Styles infoWindow for Map */
.iwstyle {
  font-size: 10pt;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#dont_wrap_this {
  white-space:nowrap;
}

.date_info {
  text-align: left;
}

#frontpage-panel {
  width: 50%;
}

#location_icons {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


